*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  background-color: blue;
  color: black;
  height: 20rem;
}
.heroSection{
  background-color: red;
  color: blue;
}
.footer{
  background-color: yellow;
  color: black;
}
